.main {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 35px 25px;
    width: 600px;
    box-shadow: 0 1px 10px 1px #cccccc;
}

.question {
    margin-bottom: 10px;
    font-size: 1.5em;
}
