.Layout {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.Card {
	box-sizing: border-box;
	border-radius: 5px;
	padding: 35px 25px;
	width: 600px;
	box-shadow: 0 1px 10px 1px #cccccc;
}
